a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

body {
  background: #666;
  margin: 0 auto;
  padding: 20px;
  width: 840px;
}

.page {
  width: 800px;
}

.rfloat {
  float: right;
}

.lfloat {
  float: left;
}

.header {
  font-size: 20px;
  padding-left: 10px;
}

.contact {
  line-height: 28px;
  padding-right: 10px;
}

.section-header {
  font-style: italic;
}

.section-light-content {
  color: #606060;
}

.section-content p {
  text-align: justify;
}

.space {
  height: 8px;
}

.panel {
  border-color: #333;
  border-radius: 0;
  border-width: 2px;
  padding-bottom: 30px;
}
