
.red {
  background: #644;
}

.blue {
  background: #446;
}

.green {
  background: #464;
}

.short {
  height: 100px;
}

.tall {
  height: 600px;
}

.border {
  border: 1px solid #000;
}

.panel {
  padding: 0 15px;
}